.contact-map {
  justify-self: center;
  width: 100%;
  max-width: 20rem;

  h4 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
  p {
    color: #ffffff;
  }

  @media screen and (min-width: 750px) {
    min-width: 100%;
  }
}
